{:kotoba.app/id "cloud.itonami.isic-8610", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigstoyxigqzg6kp4z43lcnksip34yxjpdot3ih3p55bpxkxadf3se", :kotoba.app/embed-url "ipfs://bafkreigstoyxigqzg6kp4z43lcnksip34yxjpdot3ih3p55bpxkxadf3se", :published {:archive "https://kotobase.net/ipfs/bafkreigstoyxigqzg6kp4z43lcnksip34yxjpdot3ih3p55bpxkxadf3se", :size 76359, :put-status 201, :get-status 200, :at "2026-08-15T13:37:02.652Z"}}
